.root {
  // Layout styles
  @apply bg-input_bg rounded-lg p-2.5;
  @apply text-sm outline-none ring-offset-2;
  @apply hover:bg-input_bg/[0.6];
  @apply inline-flex flex-row gap-2;

  //  Input Data States
  input {
    all: unset;
    @apply w-full placeholder-gray-400;
  }

  &[data-validity="success"] {
    @apply bg-green-50 text-green-700;
    input {
      @apply placeholder-green-500;
    }
  }

  &[data-validity="error"] {
    @apply bg-red-50 text-red-700;
    input {
      @apply placeholder-red-500;
    }
  }
}

.icon {
  & > svg {
    @apply w-5 h-5;
  }
}

// For focused state
.root_focused {
  @apply bg-input_bg/[0.7] ring ring-brand_yellow;

  &[data-validity="success"] {
    @apply ring-green-500;
  }

  &[data-validity="error"] {
    @apply ring-red-500;
  }
}

.form_root {
  @apply flex flex-col gap-2;
}

.form_input {
  @apply w-full;
}

.form_label {
  @apply text-sm font-semibold;

  &[data-validity="success"] {
    @apply text-green-600;
  }

  &[data-validity="error"] {
    @apply text-red-600;
  }
}

.form_message {
  @apply text-xs font-medium;

  &[data-validity="success"] {
    @apply text-green-700;
  }

  &[data-validity="error"] {
    @apply text-red-700;
  }
}

.phone_root {
  @apply inline-flex flex-row gap-2.5;
}

.phone_option_img {
  @apply w-6 h-5 bg-[#E5E5E5] rounded relative;
  :nth-child(1) {
    @apply rounded;
  }
}

.phone_option {
  @apply flex flex-row gap-2 items-center;

  & > p {
    all: unset;
    white-space: nowrap;
    @apply max-w-md overflow-hidden overflow-ellipsis;
    @apply text-base font-medium text-gray-400;
  }

  & > span {
    all: unset;
  }

  &[data-validity="success"] {
    :nth-child(1) {
      @apply bg-green-200;
    }

    & > p {
      @apply text-green-500;
    }
  }

  &[data-validity="error"] {
    :nth-child(1) {
      @apply bg-red-200;
    }

    & > p {
      @apply text-red-500;
    }
  }
}