.page_root {
  @apply w-full h-full flex flex-col items-center justify-between;
  @apply px-4 gap-9 overflow-hidden;
}

.hero_root {
  @apply w-full h-full py-12 text-nipate-text-800;
  @apply flex flex-col items-center justify-center gap-10;
  // TODO: Add Hero transition
  @apply mt-5 md:mt-8;
}

.hero_text {
  @apply text-page-hero-sm md:text-page-hero text-center;
}

.hero_input {
  @apply rounded-2xl;
  @apply mx-8 md:mx-0;
  input {
    @apply overflow-ellipsis;
  }
}

.hero_search_actions {
  @apply flex flex-row items-center gap-4;
}

.hero_location_pin {
  @apply cursor-pointer text-[1.2rem] md:text-[1.4rem];
}

.hero_search_btn {
  @apply rounded-lg md:rounded-2xl;
}

.services_root {
  @apply w-full flex flex-col gap-6;
}

.services_label {
  @apply text-page-heading-sm md:text-page-heading;
}

.advert_list {
  @apply w-full overflow-x-auto snap-x snap-mandatory;
  @apply flex flex-row items-center gap-5 p-1;

  &::-webkit-scrollbar {
    display: none;
  }

  -ms-overflow-style: none; /* IE and Edge */
  scrollbar-width: none; /* Firefox */
}

.advert_root {
  @apply px-6 py-10 bg-white shadow rounded-lg;
  @apply h-full gap-5 flex flex-col snap-start;
}

.advert_title {
  @apply text-card-title;

  &[data-state='loading'] {
    @apply h-8 w-1/2 bg-slate-200 rounded animate-pulse;
  }
}

.advert_details {
  @apply h-full w-full gap-5 flex flex-col justify-between items-center;
}

.advert_description {
  @apply w-60 leading-6 text-ellipsis overflow-hidden;
  display: -webkit-box;
  -webkit-line-clamp: 5;
  -webkit-box-orient: vertical;
  @apply text-card-description-sm md:text-card-description;

  &[data-state='loading'] {
    @apply h-32 bg-slate-200 rounded animate-pulse;
  }
}

.provider_root {
  @apply w-full flex flex-row items-center justify-between text-content-sm;

  &[data-state='loading'] > p {
    @apply h-6 w-20 bg-slate-200 animate-pulse;
  }
}

.provider_avatar {
  @apply w-8 h-8 rounded-full bg-input-background;

  &[data-state='loading'] {
    @apply bg-slate-200 animate-pulse;
  }
}

.provider_profile {
  @apply flex flex-col gap-2 text-content-xs;
  &[data-state='loading'] > p {
    @apply h-4 w-20 bg-slate-200 animate-pulse;
  }
}
