[submodule "nipate_api"]
	path = nipate_api
	url = git@github.com:Bespoke-Systems/Nipate_api.git
[submodule "nipate-web-client-pre-alpha"]
	path = nipate-web-client-pre-alpha
	url = git@github.com:Bespoke-Systems/nipate-web-client-pre-alpha.git
