# Project development directories and files
node_modules
.DS_Store
dist
dist-ssr
*.local
node_modules/*

# Actions & Configurations directories
.github/*

# Editor directories and files
.vscode/*
.idea
*.suo
*.ntvs*
*.njsproj
*.sln
*.sw?