.page_root {
  @apply w-full h-full  flex flex-row gap-5 px-3 py-5 md:p-5;
}

.search_root {
  @apply w-full h-full flex flex-col gap-5 px-3 py-5 md:p-5;
}

.search_values {
  @apply h-full flex flex-col items-center justify-around;
}

.search_box {
  @apply flex flex-row gap-4 items-center;
}

.filter_icon_dropdown {
  @apply min-w-[15rem] m-3 bg-white z-10 shadow rounded-xl;
}

.filter_icon_icon {
  @apply w-6 h-6;
}

.filter_item_container {
  @apply flex flex-col gap-4;
}

.filter_item_label {
  @apply text-base font-medium;
}

.select_option {
  @apply text-base hover:bg-slate-50;

  &[aria-selected='true'] {
    @apply bg-slate-100;
  }
}

.availability_btn {
  @apply w-full p-3 rounded-xl outline-none;
  @apply bg-input-background min-h-[2.5rem];
  @apply focus:ring-nipate-yellow focus:ring-2 ring-offset-2;

  &[data-validity='success'] {
    @apply bg-green-50 text-green-700 focus:ring-green-500;
  }

  &[data-validity='error'] {
    @apply bg-red-50 text-red-700 focus:ring-red-500;
  }
}

.category_select_root {
  @apply w-[16rem] flex flex-row items-center justify-between gap-2.5;
}

.category_select_items_container {
  @apply w-full overflow-hidden;
  & > main {
    @apply flex flex-row gap-1 items-center;
    @apply overflow-x-auto;

    &::-webkit-scrollbar {
      display: none;
    }

    -ms-overflow-style: none; /* IE and Edge */
    scrollbar-width: none; /* Firefox */
  }
}

.category_select_item {
  @apply px-1.5 py-1 rounded-lg;

  & > p {
    @apply text-content-sm;
  }
}

.category_select_item_selected {
  @apply px-1.5 py-1 rounded-lg bg-gray-50;

  & > p {
    @apply text-content-sm;
  }
}

.no_data_root {
  @apply flex flex-col items-center justify-center;
}

.no_data_text {
  @apply text-card-title md:text-page-hero-sm;
}

.no_data_img {
  @apply w-36 h-36 md:w-60 md:h-60;
}

.hero_input {
  @apply w-full;
  border-radius: 1rem !important;

  input {
    @apply ml-2 md:ml-4 overflow-ellipsis;
  }
}

.hero_search_actions {
  @apply flex flex-row items-center gap-4;
}

.hero_location_pin {
  @apply cursor-pointer text-[1.2rem] md:text-[1.4rem];
}

.hero_search_btn {
  @apply rounded-lg md:rounded-2xl;
}
