.advert_card_root {
  @apply px-6 py-10 bg-white shadow rounded-lg;
  @apply h-full gap-5 flex flex-col snap-start;

  &:focus, &:focus-visible, &:focus-within {
    @apply outline-none ring-2 ring-nipate-yellow;
  }
}

.advert_card_title {
  @apply text-card-title;

  &[data-state='loading'] {
    @apply h-8 w-1/2 bg-slate-200 rounded animate-pulse;
  }
}

.advert_card_details {
  @apply h-full w-full gap-5 flex flex-col justify-between items-center;
}

.advert_card_description {
  @apply w-60 leading-6 text-ellipsis overflow-hidden;
  display: -webkit-box;
  -webkit-line-clamp: 5;
  -webkit-box-orient: vertical;
  @apply text-card-description-sm md:text-card-description;

  &[data-state='loading'] {
    @apply h-32 bg-slate-200 rounded animate-pulse;
  }
}

.advert_card_provider_root {
  @apply w-full flex flex-row items-center justify-between text-content-sm;

  &[data-state='loading'] > p {
    @apply h-6 w-20 bg-slate-200 animate-pulse;
  }
}

.advert_card_provider_avatar {
  @apply w-8 h-8 rounded-full bg-input-background;

  &[data-state='loading'] {
    @apply bg-slate-200 animate-pulse;
  }
}

.advert_card_provider_profile {
  @apply flex flex-col gap-2 text-content-xs;
  &[data-state='loading'] > p {
    @apply h-4 w-20 bg-slate-200 animate-pulse;
  }
}
